<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../../layout/head') %>

</head>
<body>
        <%- include('../../layout/header') %>

    <ul>
        <li><%= results.title %></li>
        <li><%= results.authors %></li>
        <li><%= results.descript %></li>
        <li><img src="<%= results.image_url %>" alt="<%= results.title %>"></li>
        <li><%= results.bookshelf %></li>

    </ul>
    <%- include('edit', {formAction: 'update', results: results}) %>
</body>
</html>