<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/icons.css/">
        <link rel="stylesheet" href="/styles/modules.css" />
        <link rel="stylesheet" href="/styles/layout.css" />
</head>
<body>
   
        <section>

        
                   <ul>
                       <li><img src="<%= books.image_url %>" alt="<%= books.title %>"></li>
                       <li><%= books.title %></li>
                       <li><%= books.authors %></li>
                       <li><%= books.descript %></li>
                   </ul>
        
                    <form action="/books" method="post">
                        <input type= "hidden" name="image_url" value="<%= books.image_url %>" ></input>
                        <input type= "hidden" name="title" value="<%= books.title %>"><%= books.title %></input>
                        <input type= "hidden" name="authors" value="<%= books.authors %>"><%= books.authors %></input>
                        <input type= "hidden" name="descript" value="<%= books.descript %>"><%= books.descript %></input>
                        <button type="submit">Update Book</button>
                    </form>

        </section>
</body>
</html>