<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../../layout/head') %>

</head>
<body>
    <main>
        <%- include('../../layout/header') %>

    <ul>
        <li id="title"><%= results.title %></li>
        <li>By <%= results.authors %></li>
        <li><%= results.descript %></li>
        <li><img src="<%= results.image_url %>" alt="<%= results.title %>"></li>
        <li>Bookshelf: <%= results.bookshelf %></li>

    </ul>
        <%- include('edit_delete', {formAction: 'delete', results: results}) %>
        <%- include('edit', {formAction: 'update', results: results}) %>
    </main>
</body>
</html>