
<% let action = formAction === 'update' ? `/update/${results.id}?_method=PUT` : '/update'; %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="title" value="<%- results.title %>" placeholder="<%- results.title %>">

  <input type="hidden" name="authors" value="<%- results.authors %>" placeholder="<%- results.authors %>">

  <input type="hidden" name="descript" value= "<%- results.descript %>" placeholder="<%- results.descript %>">

  <input list="bookshelf" name="bookshelf" placeholder="Enter Bookshelf">

    <datalist id="bookshelf">
    <option name="bookshelf" value="fiction"></option>
    <option name="bookshelf" value="non-fiction"></option>
    <option name="bookshelf" value = "drama"></option>
    </datalist> 
    <input type="submit">

  </form> 


