<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/icons.css/">
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
</head>

<body>

    <section>
        <% books.forEach(obj => { %>
            <form action="/books" method="post">
                <input name="image_url" value="<%= obj.image_url %>" ></input>
                <img src="<%= obj.image_url %>" alt="<%= obj.title %>">
                <input name="title" value="<%= obj.title %>"><%= obj.title %></input>
                <input name="authors" value="<%= obj.authors %>"><%= obj.authors %></input>
                <input name="description" value="<%= obj.description %>"><%= obj.description %></input>
                <button type="submit">Add to database</button>
            </form>
            <% }) %>
        </section>

</body>

</html>