<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
    <link rel="stylesheet" href="/styles/base.css"/>
    <link rel="stylesheet" href="/styles/icons.css/">
    <link rel="stylesheet" href="/styles/modules.css"/>
    <link rel="stylesheet" href="/styles/layout.css"/>
</head>

<body>
    <ul>
        <% books.forEach(obj => { %>
        <img src= '<%= obj.bookImage %>' alt= '<%= obj.title %>''></img> 
        <li><%= obj.title %></h2>
        <li><%= obj.authors %></li>
        <!-- <p><%= obj.publishedDate %></p> -->
        <li><%= obj.description %></li>
        <!-- <p><%= obj.infoLink %></p> -->
        <% }) %>
    </ul>
</body>

</html>