<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BEST BOOKS</title>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
  <link rel="stylesheet" href="/styles/base.css"/>
  <link rel="stylesheet" href="/styles/icons.css/">
  <link rel="stylesheet" href="/styles/modules.css"/>
  <link rel="stylesheet" href="/styles/layout.css"/>
</head>
<body>
  
  <section>
    <h1>Hi, Cait, Vij, Ally! Lets read some books together</h1>
    <ul>
      <li> You have <%=results.length%> books in your bookshelf!!</li>
      <% results.forEach(obj => { %>
        <form action="/details/<%= obj.id %>" method="post">
          <li><img src= "<%= obj.image_url %>" alt="<%= obj.title %>"></li>
          <li><%= obj.title %></li>
          <li><%= obj.authors %></li>
          <button>view details</button>
        </form>
        
      <% }) %>
    </ul>
  </section>



</body>
</html>