<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>

</head>
<body>
  <main>
      <%- include('../layout/header') %>
  <section>
    <h1>Hi, Cait, Vij, Ally! Lets read some books together</h1>
    <ul>
    <% results.forEach(obj => { %>
        <li id="title"><%= obj.title %></li>
        <li>By <%= obj.authors %></li>
        <li><img src="<%= obj.image_url %>" alt="<%= obj.title %>"></li>
        <li><%= obj.bookshelf %></li>
        <a href="/books/<%= obj.id %>"> View Details </a>
        
        <% }) %>
    </ul>
    </section>

  </main>


</body>
</html>